name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run on ubuntu:latest + linux/amd64
        uses: ./
        with:
          run: uname -a | grep x86_64
          image: ubuntu:latest
          platform: linux/amd64

      - name: Run on ubuntu:latest + linux/arm64
        uses: ./
        with:
          run: uname -a | grep aarch64
          image: ubuntu:latest
          platform: linux/arm64
          
